@import "syntax-variables";

atom-text-editor, atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line,
atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection,
atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, atom-text-editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region,
atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region,
atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, atom-text-editor .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region,
atom-text-editor .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line,
atom-text-editor .line-number.cursor-line-no-selection,
atom-text-editor .line.cursor-line {
  background-color: rgba(36, 99, 180, .12);
}

.syntax--comment {
  font-style: italic;
  color: #5a525f;
}

.syntax--constant {
  font-weight: bold;
  color: #811f24;
}

.syntax--entity {
  color: #bf4f24;
}

.syntax--keyword {
  color: #794938;
}

.syntax--storage {
  font-style: italic;
  color: #a71d5d;
}

.syntax--string, .syntax--punctuation.syntax--definition.syntax--string {
  color: #0b6125;
}

.syntax--support {
  color: #691c97;
}

.syntax--variable {
  color: #234a97;
}

.syntax--punctuation.syntax--separator {
  color: #794938;
}

.syntax--invalid.syntax--deprecated {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #b52a1d;
}

.syntax--invalid.syntax--illegal {
  font-style: italic;
  text-decoration: underline;
  color: #f8f8f8;
  background-color: #b52a1d;
}

.syntax--string .syntax--source {
  color: #080808;
  background-color: rgba(111, 139, 186, .15);
}

.syntax--string .syntax--constant {
  font-weight: bold;
  color: #696969;
}

.syntax--string .syntax--variable {
  color: #234a97;
}

.syntax--string.syntax--regexp {
  color: #cf5628;
}

.syntax--string.syntax--regexp.syntax--character-class,
.syntax--string.syntax--regexp .syntax--constant.syntax--character.syntax--escaped,
.syntax--string.syntax--regexp .syntax--source.syntax--ruby.syntax--embedded,
.syntax--string.syntax--regexp .syntax--string.syntax--regexp.syntax--arbitrary-repitition {
  font-weight: bold;
  font-style: italic;
  color: #cf5628;
}

.syntax--string.syntax--regexp .syntax--constant.syntax--character.syntax--escape {
  font-weight: bold;
  color: #811f24;
}

.syntax--text .syntax--source {
  background-color: rgba(111, 139, 186, .15);
}

.syntax--support.syntax--function {
  color: #693a17;
}

.syntax--support.syntax--constant {
  color: #b4371f;
}

.syntax--support.syntax--variable {
  color: #234a97;
}

.syntax--markup.syntax--list {
  color: #9f5922;
}

.syntax--markup.syntax--heading,
.syntax--markup.syntax--heading .syntax--entity.syntax--name {
  font-weight: bold;
  color: #2550a4;
}

.syntax--markup.syntax--quote {
  font-style: italic;
  color: #0b6125;
  background-color: rgba(187, 187, 187, .19);
}

.syntax--markup.syntax--italic {
  font-style: italic;
  color: #080808;
}

.syntax--markup.syntax--bold {
  font-weight: bold;
  color: #00b04e;
}

.syntax--markup.syntax--underline {
  text-decoration: underline;
  color: #080808;
}

.syntax--markup.syntax--link {
  font-style: italic;
  text-decoration: underline;
  color: #234a97;
}

.syntax--markup.syntax--raw {
  color: #234a97;
  background-color: rgba(187, 187, 187, .19);
}

.syntax--markup.syntax--deleted {
  color: #59140e;
}

.syntax--meta.syntax--separator {
  font-weight: bold;
  color: #19356d;
  background-color: #dcdcdc;
}

atom-text-editor .invisible-character, atom-text-editor .invisible-character {
  color: rgba(75, 75, 126, .2);
}

.syntax--comment {
  color: rgba(0, 0, 0, .5);

  .syntax--link, .syntax--jsdoc {
    color: rgba(0, 0, 0, .5);
  }
}

.bracket-matcher .region{
  border-bottom: 2px solid #000;
}

// цвет выделения при ctrl-d
atom-text-editor .highlights .highlight-selected .region {
  border-color: #9e0000;
}

// цвет подсветки при поиске
atom-text-editor .find-result .region {
  border-color: #9e0000;
}

// цвет при синтаксической ошибке
.spell-check-misspelling .region {
  border: 1px solid rgb(255, 51, 51);
  border-radius: 4px;
}

// помечаем строку при изменения git
atom-text-editor .gutter .line-number.git-line-added {
  border-left: 2px solid #0b6125;
  padding-left: calc(0.5em - 2px);
}